/*<meta />*/

/*<meta sourceDocument="C:\Users\Andyt1\Documents\EnergyPlusWeatherFileFormat.docx" />*/

p.p_1
{
	margin-top: 8pt;
	margin-bottom: 8pt;
	mc-heading-level: 1;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #000000;
	font-size: 20pt;
}

p.p_2
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	color: #000000;
	font-family: Calibri;
	font-size: 11pt;
	padding-left: 0;
	margin: 0;
}

col.col_1
{
	width: 95pt;
}

col.col_2
{
	width: 94pt;
}

col.col_3
{
	width: 272pt;
}

p.p_3
{
	margin-top: 10pt;
	margin-bottom: 14pt;
	text-align: center;
	font-family: 'Times New Roman';
	font-size: 10pt;
}

th.th_1
{
	border-top-style: none;
	border-left-style: none;
	border-bottom-style: none;
	border-right-style: none;
	padding-top: 5pt;
	padding-left: 5pt;
	padding-bottom: 5pt;
	padding-right: 5pt;
	vertical-align: middle;
}

p.p_4
{
	margin-top: 10pt;
	margin-bottom: 14pt;
	font-family: 'Times New Roman';
	font-weight: bold;
	font-size: 10pt;
}

td.td_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	padding-top: 5pt;
	padding-left: 5pt;
	padding-bottom: 5pt;
	padding-right: 5pt;
	vertical-align: middle;
}

p.p_5
{
	margin-top: 10pt;
	margin-bottom: 14pt;
	font-family: Calibri;
	font-size: 11pt;
}

td.td_2
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #000000;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #000000;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #000000;
	background-color: #DDDDDD;
	padding-top: 5pt;
	padding-left: 5pt;
	padding-bottom: 5pt;
	padding-right: 5pt;
	vertical-align: middle;
}

table.table_1
{
	border-collapse: collapse;
}

p.p_6
{
	margin-left: 5pt;
	margin-right: 5pt;
	background-color: #F8F8F8;
	margin-bottom: 0pt;
	color: #000000;
	font-family: Consolas;
	font-size: 9pt;
	margin: 0;
	padding-bottom: 0;
	padding-top: 4;
}

p.p_7
{
	margin-left: 5pt;
	margin-right: 5pt;
	background-color: #F8F8F8;
	margin-bottom: 0pt;
}

div.div_1
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #CCCCCC;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #CCCCCC;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #CCCCCC;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #CCCCCC;
	background-color: #F8F8F8;
}

span.span_1
{
	font-family: 'Open Sans';
	color: #000000;
	font-size: 10pt;
}

span.span_2
{
	font-family: 'Open Sans';
	color: #31454D;
	font-size: 10pt;
	text-decoration: underline;
}

p.p_8
{
	margin-top: 5pt;
	margin-bottom: 5pt;
}

p.p_9
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 2;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #000000;
	font-size: 14pt;
}

p.p_10
{
	margin-top: 5pt;
	margin-bottom: 5pt;
	mc-heading-level: 3;
	font-family: 'Open Sans';
	font-weight: bold;
	font-style: italic;
	color: #000000;
}

span.span_3
{
	font-family: MJXc-TeX-math-Iw;
	color: #000000;
	font-size: 10pt;
}

span.span_4
{
	font-family: MJXc-TeX-math-Iw;
	color: #000000;
	font-size: 7pt;
}

span.span_5
{
	font-family: MJXc-TeX-main-Rw;
	color: #000000;
	font-size: 10pt;
}

span.span_6
{
	font-family: MJXc-TeX-main-Rw;
	color: #000000;
	font-size: 7pt;
}

p.p_11
{
	margin-bottom: 0pt;
}

li.li_1
{
	margin-bottom: 0pt;
}

ul.ul_1
{
	padding-left: 0px;
	list-style-type: disc;
	margin-left: 36pt;
}

span.span_7
{
	font-family: MJXc-TeX-size3-Rw;
	color: #000000;
	font-size: 10pt;
}

span.span_8
{
	font-family: MJXc-TeX-size1-Rw;
	color: #000000;
	font-size: 10pt;
}

col.col_4
{
	width: 97pt;
}

col.col_5
{
	width: 39pt;
}

col.col_6
{
	width: 323pt;
}

col.col_7
{
	width: 54pt;
}

col.col_8
{
	width: 136pt;
}

col.col_9
{
	width: 47pt;
}

col.col_10
{
	width: 223pt;
}

span.span_9
{
	font-family: Calibri;
	font-size: 11pt;
}

p.p_12
{
	margin-top: 10pt;
	margin-bottom: 14pt;
	margin: 0;
	font-family: Calibri;
}

p.p_13
{
	font-size: 9pt;
}

p
{
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: Calibri;
	font-size: 11pt;
}

